In [1]:
import pandas as pd

In [2]:
FILES_PATH = {
    # Path dos arquivos (.csv) a serem carregados para dentro dos bancos -- modificar se necessário
    "original_db":{
        "info":"base de dados original (arquivos .csv criados para raw data)",
        "customers":"./data/clientes.csv",
        "products":"./data/produtos.csv",
        "orders":"./data/pedidos.csv"
    },
    "imported_db":{
        "info":"base de dados importada do concorrente (arquivos .csv criados para imported data)",
        "products":"./data/produtos_concorrente.csv",
        "customers":"./data/clientes_concorrente.csv"
    }
}

df_clientes=pd.read_csv(FILES_PATH["original_db"]["customers"])
df_produtos=pd.read_csv(FILES_PATH["original_db"]["products"])
df_pedidos=pd.read_csv(FILES_PATH["original_db"]["orders"])
df_clientes_concorrente=pd.read_csv(FILES_PATH["imported_db"]["customers"])
df_produtos_concorrente=pd.read_csv(FILES_PATH["imported_db"]["products"])

In [5]:
!pip3 install SQLAlchemy

Collecting SQLAlchemy
  Downloading sqlalchemy-2.0.41-cp310-cp310-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from SQLAlchemy)
  Downloading greenlet-3.2.3-cp310-cp310-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\perfect flight\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from SQLAlchemy) (4.13.2)
Downloading sqlalchemy-2.0.41-cp310-cp310-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB 5.2 MB/s eta 0:00:01
   ------------------ --------------------- 1.0/2.1 MB 10.1 MB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 13.7 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 13.4 MB/s eta 0:00:00
Downloading greenlet-3.2.3-cp310-cp310-win_amd64.whl (296 kB)
   ---------------------------------------- 0.0/296.6 kB ? eta -:--:--
   ---------------------------------------- 296.6/296.6 kB ? eta 0:00:00
Installing collected packages: greenlet, SQLAlchemy
Successfully installed SQLAlchemy-2.0.41 greenlet-3.2.3

[notice] A new release of pip is available: 24.1.1 -> 25.1.1
[notice] To update, run: C:\Users\Perfect Flight\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [6]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://usuario:senha@localhost:3306/seubanco")
engine

ModuleNotFoundError: No module named 'pymysql'

In [3]:
df_produtos.to_sql()

TypeError: NDFrame.to_sql() missing 2 required positional arguments: 'name' and 'con'

In [66]:
df_clientes

,cpf,nome,endereco,cep,email,telefones
0,123.456.789-01,João Silva,Rua das Palmeiras,12345-678,joao.silva@email.com,(11) 98765-4321
1,987.654.321-00,Ana Costa,Avenida Paulista,45678-910,ana.costa@email.com,(11) 91234-5678
2,456.789.123-45,Pedro Souza,Rua João Pessoa,78901-234,pedro.souza@email.com,(21) 99123-4567
3,321.654.987-12,Mariana Lima,Rua das Acácias,23456-789,mariana.lima@email.com,(21) 98876-5432
4,654.987.321-00,Lucas Almeida,Rua 15 de Novembro,34567-890,lucas.almeida@email.com,(31) 99111-2233
5,213.546.879-11,Fernanda Oliveira,Av. Brasil,98765-432,fernanda.oliveira@email.com,(31) 99887-4455
6,543.216.987-32,Carlos Pereira,Rua do Sol,65432-123,carlos.pereira@email.com,(41) 99333-2244
7,876.543.210-65,Julia Martins,Rua da Paz,12345-678,julia.martins@email.com,(41) 98877-5566
8,234.567.891-23,Roberto Costa,Rua Rio Branco,87654-321,roberto.costa@email.com,(51) 99222-3344
9,678.901.234-56,Renata Santos,Av. Ipiranga,56789-012,renata.santos@email.com,(51) 99666-7788

In [33]:
df_clientes.shape

(10, 6)

In [34]:
df_clientes.iloc[1]

cpf               987.654.321-00
nome                   Ana Costa
endereco        Avenida Paulista
cep                    45678-910
email        ana.costa@email.com
telefones        (11) 91234-5678
Name: 1, dtype: string

In [36]:
df_clientes.iloc[1].values

<StringArray>
[     '987.654.321-00',           'Ana Costa',    'Avenida Paulista',
           '45678-910', 'ana.costa@email.com',     '(11) 91234-5678']
Length: 6, dtype: string

In [37]:
tuple(df_clientes.iloc[1].values)

('987.654.321-00',
 'Ana Costa',
 'Avenida Paulista',
 '45678-910',
 'ana.costa@email.com',
 '(11) 91234-5678')

In [38]:
for index in range(0,df_clientes.shape[0]):
    query=f"""
    INSERT INTO Clientes (cliente_id, cpf, nome, endereco, cep, email, telefones) VALUES
    {tuple(df_clientes.iloc[index].values)}
    """
    print(query)

    INSERT INTO Clientes (cliente_id, cpf, nome, endereco, cep, email, telefones) VALUES
    ('123.456.789-01', 'João Silva', 'Rua das Palmeiras', '12345-678', 'joao.silva@email.com', '(11) 98765-4321')


    INSERT INTO Clientes (cliente_id, cpf, nome, endereco, cep, email, telefones) VALUES
    ('987.654.321-00', 'Ana Costa', 'Avenida Paulista', '45678-910', 'ana.costa@email.com', '(11) 91234-5678')


    INSERT INTO Clientes (cliente_id, cpf, nome, endereco, cep, email, telefones) VALUES
    ('456.789.123-45', 'Pedro Souza', 'Rua João Pessoa', '78901-234', 'pedro.souza@email.com', '(21) 99123-4567')


    INSERT INTO Clientes (cliente_id, cpf, nome, endereco, cep, email, telefones) VALUES
    ('321.654.987-12', 'Mariana Lima', 'Rua das Acácias', '23456-789', 'mariana.lima@email.com', '(21) 98876-5432')


    INSERT INTO Clientes (cliente_id, cpf, nome, endereco, cep, email, telefones) VALUES
    ('654.987.321-00', 'Lucas Almeida', 'Rua 15 de Novembro', '34567-890', 'lucas.almeida@email.com', '(31) 99111-2233')


    INSERT INTO Clientes (cliente_id, cpf, nome, endereco, cep, email, telefones) VALUES
    ('213.546.879-11', 'Fernanda Oliveira', 'Av. Brasil', '98765-432', 'fernanda.oliveira@email.com', '(31) 99887-4455')


    INSERT INTO Clientes (cliente_id, cpf, nome, endereco, cep, email, telefones) VALUES
    ('543.216.987-32', 'Carlos Pereira', 'Rua do Sol', '65432-123', 'carlos.pereira@email.com', '(41) 99333-2244')


    INSERT INTO Clientes (cliente_id, cpf, nome, endereco, cep, email, telefones) VALUES
    ('876.543.210-65', 'Julia Martins', 'Rua da Paz', '12345-678', 'julia.martins@email.com', '(41) 98877-5566')


    INSERT INTO Clientes (cliente_id, cpf, nome, endereco, cep, email, telefones) VALUES
    ('234.567.891-23', 'Roberto Costa', 'Rua Rio Branco', '87654-321', 'roberto.costa@email.com', '(51) 99222-3344')


    INSERT INTO Clientes (cliente_id, cpf, nome, endereco, cep, email, telefones) VALUES
    ('678.901.234-56', 'Renata Santos', 'Av. Ipiranga', '56789-012', 'renata.santos@email.com', '(51) 99666-7788')